html {
    font-size: 18px; /* Base font size */
}

.background {
  background: #333333;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  max-width: 1400px;
  margin: 0px auto;
  font-size: 1.1rem;
}

/* Navbar container */
.navbar {
  background-color: transparent;
  max-width: 1400px; /* keeps layout from stretching too much */
  margin: 15px auto; 
  padding: 0 20px;
}

/* Navigation list */
.navbar ul {
  display: flex;
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}


.navbar li {
  flex: 1 1 auto;
  text-align: center;
}

/* Links */
.navbar a {
  display: block;
  padding: 15px 10px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem; 
}

/* Hover effect */
.navbar a:hover {
  background-color: #555;
}

#head-spacer {
    height: 2px;
    width: 92%;
    background-color: white;
    margin: 0 auto; /* This will center the spacer */
}

.navbar a.selected {
    text-decoration: underline;
}

/* Main content layout */
#main {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

#primary-content {
    flex: 0 0 70%;
    order: 2;
    padding: 20px;
    box-sizing: border-box;
}

#secondary-content {
    flex: 0 0 21%;
    order: 1;
    box-sizing: border-box;
    background-color: #DE6C21;
    padding: 10px;
    margin: 25px 25px;
    border-radius: 16px;
    border: 2px solid #2a2a2a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

#tertiary-content {
    flex: 0 0 100%;
    order: 3;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-style: italic;
    color: #ddd;
}

#typed-quote {
  font-size: 1.5rem;
  font-family: Georgia, serif;
  overflow: hidden;
}


/* Mobile-friendly adjustments */
@media (max-width: 856px) {
  .navbar ul {
    flex-direction: column;
    align-items: stretch;
  }
  
  .navbar a {
    font-size: 1.25rem; /* even bigger on mobile */
    padding: 12px;
  }

  #main {
    flex-direction: column;
  }

  #primary-content {
        margin: 10px 10px;
    }

  
  #secondary-content,
  #primary-content {
    flex: 1 1 100%;
    order: 0; /* Reset order to document order */
  }

  #secondary-content {
    order: 1; 
  }
  #primary-content {
    order: 2; 
  }

  #tertiary-content {
    order: 3; 
  }
}
