<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full-Court-Stats</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <meta name="description" content="Full Court Stats is your all-access platform for custom NBA analytics. Create, share, and explore personalized basketball statistics, interactive visualizations, and downloadable datasets. Perfect for fans, analysts, and data enthusiasts seeking deeper insights into the game." />
</head>
<body class="background">
    <header>
        <nav class="navbar">
            <ul>
            <li><a class="selected" href="#">Home</a></li>
            <li><a href="{{ url_for('customStat') }}">Create Custom Statistic</a></li>
            <li><a href="#">Predictions</a></li>
            <li><a href="#">Data Visualizations</a></li>
            <li><a href="#">Explore Datasets</a></li>
            </ul>
            <div id="head-spacer"></div>
        </nav>
    </header>
    <main id="main" role="main">
        <div id="primary-content">
            <h1>Welcome to Full Court Stats</h1>
            <p>
                Full Court Stats is your all-access pass to the world of custom basketball analytics. It's the ultimate platform for NBA fans, data enthusiasts, and aspiring analysts to create and share personalized NBA statistics that reflect what <em>you</em> value most in the game.
            </p>
            <ul>
                <li><strong>Create and share your own custom NBA stats</strong>, based on what matters most to you: scoring, efficiency, awards, or clutch performance.</li>
                <li><strong>Explore interactive and creative data visualizations</strong> that bring player and team trends to life.</li>
                <li><strong>Download NBA stats data</strong> for your own deep dives or projects.</li>
                <li><strong>View season predictions</strong> powered by analytics, machine learning, and community insight.</li>
            </ul>
            <p>
                Whether you're building your perfect MVP metric or looking for a fresh perspective on the league, Full Court Stats gives you the tools and freedom to see basketball your way.
            </p>
        </div>
        <div id="secondary-content">
            <h2 style="text-align:center;">Home</h2>
            <h4>Version 0.1.0</h4>
            <p>
            This website is still in its infancy, but I am working hard to add new features and datasets. <br><br> Check back regularly to stay up to date with all the exciting changes.
            </p>
            <div style="text-align: center;">
                <img src="{{ url_for('static', filename='favicon.png') }}" alt="Site Logo" width="100" />
            </div>
        </div>
        
    </main>
   
</body>
</html>



