<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Under Construction</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <meta name="description" content="Full Court Stats is your all-access platform for custom NBA analytics. Create, share, and explore personalized basketball statistics, interactive visualizations, and downloadable datasets. Perfect for fans, analysts, and data enthusiasts seeking deeper insights into the game." />
</head>
<body class="background">
    <header>
        <nav class="navbar">
            <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('customStat') }}">Create Custom Statistic</a></li>
            <li><a href="{{ url_for('underConstruction') }}">Predictions</a></li>
            <li><a href="{{ url_for('underConstruction') }}">Data Visualizations</a></li>
            <li><a href="{{ url_for('underConstruction') }}">Explore Datasets</a></li>
            </ul>
            <div id="head-spacer"></div>
        </nav>
    </header>
    <main id="main" role="main">
        <div id="primary-content">
            <h1>Under Construction</h1>
            <p>This page is currently under construction. Please check back soon for exciting new content!</p>
        </div>
        <div id="secondary-content">
            <h2 style="text-align:center;">Coming Soon!</h2>
        </div>
        
    </main>
   
</body>
</html>